In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Sumeet Maheshwari\Desktop\dataset\data_dump\data-dump\final.csv",low_memory=False)

In [3]:
df.head()

,date,store_nbr,family,sales,onpromotion,holiday_type,locale,locale_name,description,transferred,dcoilwtico,city,state,store_type,cluster,transactions
0,2013-01-01,1,AUTOMOTIVE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
1,2013-01-01,1,BABY CARE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
2,2013-01-01,1,BEAUTY,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
3,2013-01-01,1,BEVERAGES,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
4,2013-01-01,1,BOOKS,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN

In [4]:
df['holiday_type'].value_counts()

Holiday       304722
Event          99792
Additional     67716
Transfer       16038
Work Day        8910
Bridge          5346
Name: holiday_type, dtype: int64

In [5]:
df[df['holiday_type'] == 'Additional']

,date,store_nbr,family,sales,onpromotion,holiday_type,locale,locale_name,description,transferred,dcoilwtico,city,state,store_type,cluster,transactions
231660,2013-05-11,1,AUTOMOTIVE,4.000,0,Additional,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231661,2013-05-11,1,BABY CARE,0.000,0,Additional,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231662,2013-05-11,1,BEAUTY,4.000,0,Additional,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231663,2013-05-11,1,BEVERAGES,1114.000,0,Additional,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231664,2013-05-11,1,BOOKS,0.000,0,Additional,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016921,2017-07-25,9,POULTRY,320.009,0,Additional,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016922,2017-07-25,9,PREPARED FOODS,51.879,0,Additional,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016923,2017-07-25,9,PRODUCE,2100.046,152,Additional,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016924,2017-07-25,9,SCHOOL AND OFFICE SUPPLIES,5.000,0,Additional,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016925,2017-07-25,9,SEAFOOD,17.378,1,Additional,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0

In [6]:
df['holiday_type']=df['holiday_type'].astype("category").cat.codes

In [7]:
df[df['holiday_type'] == 0]

,date,store_nbr,family,sales,onpromotion,holiday_type,locale,locale_name,description,transferred,dcoilwtico,city,state,store_type,cluster,transactions
231660,2013-05-11,1,AUTOMOTIVE,4.000,0,0,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231661,2013-05-11,1,BABY CARE,0.000,0,0,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231662,2013-05-11,1,BEAUTY,4.000,0,0,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231663,2013-05-11,1,BEVERAGES,1114.000,0,0,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
231664,2013-05-11,1,BOOKS,0.000,0,0,National,Ecuador,Dia de la Madre-1,False,NaN,Quito,Pichincha,D,13,1488.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016921,2017-07-25,9,POULTRY,320.009,0,0,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016922,2017-07-25,9,PREPARED FOODS,51.879,0,0,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016923,2017-07-25,9,PRODUCE,2100.046,152,0,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016924,2017-07-25,9,SCHOOL AND OFFICE SUPPLIES,5.000,0,0,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0
3016925,2017-07-25,9,SEAFOOD,17.378,1,0,Local,Guayaquil,Fundacion de Guayaquil,False,47.77,Quito,Pichincha,B,6,1812.0

In [8]:
holiday = 3